---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProgramsSection from '../components/ProgramsSection.astro';
import NewsSection from '../components/NewsSection.astro';
import '../styles/global.css';
---

<Layout title="3rd Butterworth Company - Boys' Brigade Malaysia">
  <Fragment>

	</Fragment>
  <main>
    <Hero />
    <ProgramsSection />
    <NewsSection />
  </main>
</Layout>
