---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="3rd Butterworth Company of The Boys' Brigade in Malaysia" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="antialiased bg-slate-900">
	<Navbar/>
    <slot />
	<Footer />
  </body>
</html>
